﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center mt-3">
    <h1 class="text-center" style="color: #ff1493; font-weight: bold;">Welcome to Beauty Parlour Management System</h1>
    <p class="lead" style="color: #ff1493;">The real place of mindfullness and pretty soul </p>
    <img src="https://img.freepik.com/premium-vector/beauty-salon-logo-beautiful-female-face_528132-606.jpg" class="img-fluid mt-3 rounded shadow" alt="Beauty Salon" style="max-width: 25%;">
    <div class="mt-4">
        <a class="btn btn-lg btn-primary" asp-controller="Appointments" asp-action="Index">Book an Appointment</a>
        <a class="btn btn-lg btn-secondary" asp-controller="AboutUs" asp-action="Index">Learn More About Us</a>
        <a class="btn btn-lg btn-primary" asp-controller="Services" asp-action="Index">View Services</a>
    </div>
</div>